@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    text-align: center
}

/* logo and navigation*/

header {
    background-color: #ff4c68;
    height: 75px;
}

#logo {
    color: #fff;
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    font-size: 4rem;
    float: left;
    margin-left: 30px;  
       
}

#nav-menu {
    right: 10px;
    text-align: right;
}

#logo, #nav-menu {
    line-height: 75px;
}

a {
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
}

#nav-menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
}

#nav-menu a {
    font-size: 120%;
    float: right;
}

/* Banner heading */

#heading-banner {
    background-color: #ff4c68;    
    position: relative;
    padding: 15px 0 0 0;

}

#left-image {
    
    width: 25%;
    float: left;
    display: inline-block;

}

#center-heading {
    color: #fff;
    font-size: 3rem;
    text-align: center;    
    width: 49%;
    display: inline-block;
    letter-spacing: 3px;
}

#center-heading span {
    font-family: Ubuntu, sans-serif;
    font-size: 5rem;
    font-weight: bolder;
    letter-spacing: 4px;
}

#center-heading h1 {
    border: 5px solid #fff;
    padding: 20px;
    border-radius: 10px;
}

#right-image {
   width: 25%;    
    float: right;
    display: inline-block;
}

#roger_image {
    width: 75%;
}

#bugs-image {
    width: 60%;
}

/* Download section */

#download {
    padding: 50px 0 25px;
    background-color: #ff4c68;
    text-align: center;    
}

.download-button {
    height: 40px;
    width: 150px;
    margin: 0px 10px 30px;
    border-radius: 5px;
    font-family: Ubuntu, sans-serif;    
}

.download-button i {
    margin-right: 5px;
}

.google-button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px outset white;
    color: white;
    font-size: 1.2rem;
}

.apple-button {
    background-color: #000;
    border: 1px outset #666;
    color: #fff;
    font-size: 1.2rem;
}

/* Feature section*/

.feature-section {
    /* position: relative; */
    display: block;
    height: 450px;
}

#feature-section h2 {
    font-size: 3rem;
    padding: 25px;
}

.feature {
    width: 33%;
    height: 450px;
    padding-bottom: 10px;
}

#easy {
    
    float: left;
    display: inline-block;
}

#elite {
    
    display: inline-block;
    width: 34%;
}

#money-back {
    
    float:right;
    display: inline-block;
}

.inner-feature {
    width: 60%;
    height: 275px;
    margin: 5% auto 30px auto;
    border: 5px #ef8172 double;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    text-align: center;
    padding: 5%;
}

.inner-feature i {
    font-size: 4rem;
    color: #ef8172;
    margin-top: 15px;
}

.inner-feature h3 {
    font-weight: 900;
    font-size: 1.5rem;
    margin: 30px 0;
   
}

.inner-feature p {
    font-size: 1.5rem;
}

/* Pricing Section */


 
 #pricing-section {
     background-color: #ff4c68;
     position: relative;
 }

 #pricing-section h2 {
     font-size: 3rem;
     color: #fff;
     padding: 25px;
 }
 
 .pricing {
     width: 24%;
     display: inline-block;
     
 }
 
 .inner-price {
     width: 75%;
     background-color: white;
     margin: 20px auto 20px auto;
     text-align: center;
     padding: 15px 5px;
     border-radius: 15px;
     border-style: outset;
     border-color: darkgrey;
     border-width: 1px;
 }

 .inner-price img {
    width: 90%;       
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 25px;
 }

 .inner-price h3 {
     font-size: 1.5rem;
     padding: 10px 0 20px 0;
 }

 .inner-price ul {
     line-height: 1.5rem;
 }

 .inner-price li {
     list-style-position: inside;
     text-align: left;
     margin-left: 25px;
 }

 .inner-price .monthly-price {
     font-size: 2rem;
     padding: 50px 0;
 }

 .inner-price button {
     width: 85%;
     background-color: #222;
     color: white;
     font-size: 1.5rem;
     text-align: center;
     border-radius: 10px;
     border: 2px outset #444;
     height: 45px;
     padding: 5px;
 }

 /* Call to action Section */

 #footer-download .google-button {
     color: #000;
     border: 1px outset #333;
 }

 #footer-download h2 {
     padding-top: 25px;
     margin-bottom: 50px;
     font-size: 3rem;
 }

 #footer-download button {
     margin-bottom: 50px;
 }

 /* Footer section */

 footer {
     background-color: #ff4c68;
     color: #fff;
     
     }

 footer>p {
     padding-top: 20px;
     font-size: 16px;
 }    

footer>p>a {
    font-size: 16px;
}

.social-networks li {
    display: inline-block;
    text-align: center;
    padding: 15px 10px;

}

/* gallery*/

.testimonial {
    background-color: #ff4c68;
}
 
 