@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    text-align: center
}

/* logo and navigation*/

header {
    background-color: #ff4c68;   
       
}

#logo {
    color: #fff;
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    font-size: 4rem;
    float: left;
    margin-left: 30px;  
       
}

#nav-menu {
    right: 10px;
    text-align: right;
}

#logo, #nav-menu {
    line-height: 75px;
}

a {
    text-decoration: none;
    font-size: 2rem;
    color: #ddd;
}

#nav-menu li {
    display: inline-block;
    list-style-type: none;
    margin: 15px 30px 15px 0px;
    
    
}

#nav-menu a {
    font-size: 140%;
    float: right;
    padding: 5px;
}

#nav-menu a:hover {
    font-size: 150%;
    color: #fff;
    
}

.current {
    background-color: #ef8172;
    font-weight: bold;
    color: #fff;
}

/* Banner heading */

#heading-banner {
    background-color: #ff4c68;    
    position: relative;
    padding: 10px 0 10px 0;

}

#left-image {
    
    width: 25%;
    float: left;
    display: inline-block;

}

#center-heading {
    color: #fff;
    font-size: 3rem;
    text-align: center;    
    width: 49%;
    display: inline-block;
    letter-spacing: 3px;
}

#center-heading span {
    font-family: Ubuntu, sans-serif;
    font-size: 5rem;
    font-weight: bolder;
    letter-spacing: 4px;
}

#center-heading h1 {
    border: 5px solid #fff;
    padding: 20px;
    border-radius: 10px;
}

#right-image {
   width: 25%;    
    float: right;
    display: inline-block;
}

#roger_image {
    width: 90%;
}

#bugs-image {
    width: 95%;
}

/* Download section */

#download {
    padding: 50px 0 25px;
    background-color: #ff4c68;
    text-align: center;    
}

.download-button {
    height: 40px;
    width: 150px;
    margin: 0px 10px 30px;
    border-radius: 5px;
    font-family: Ubuntu, sans-serif;    
}

.download-button i {
    margin-right: 5px;
}

.google-button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px outset white;
    color: white;
    font-size: 1.2rem;
}

.apple-button {
    background-color: #000;
    border: 1px outset #666;
    color: #fff;
    font-size: 1.2rem;
}

.google-button:hover {
    background-color: #aaa;
    color: #000;
}



.apple-button:hover {
    background-color: #fff;
    color: #000;
}

/* Feature section*/

.feature-section {
    /* position: relative; */
    display: block;
    height: 450px;
}

#feature-section h2 {
    font-size: 3rem;
    padding: 25px;
}

.feature {
    width: 33%;
    height: 450px;
    padding-bottom: 10px;
}

#easy {
    
    float: left;
    display: inline-block;
}

#elite {
    
    display: inline-block;
    width: 34%;
}

#money-back {
    
    float: right;
    display: inline-block;
}

.inner-feature {
    width: 60%;
    height: 275px;
    margin: 5% auto 30px auto;
    border: 5px #ef8172 double;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    text-align: center;
    padding: 5%;
}

.inner-feature i {
    font-size: 4rem;
    color: #ef8172;
    margin-top: 15px;
}

.inner-feature h3 {
    font-weight: 900;
    font-size: 1.5rem;
    margin: 30px 0;
   
}

.inner-feature p {
    font-size: 1.5rem;
}

/* Pricing Section */


 
 #pricing-section-heading {
     background-color: #ff4c68;
     
 }

 #pricing-section-heading h2 {
     font-size: 3rem;
     color: #fff;
     padding: 25px;
 }

 #pricing-container {
     display: flex;     
     flex-wrap: wrap;
     flex: 200px;
     align-items: center;
     background-color:#ff4c68;
     /* padding: 30px; */
 }
 
 
 .inner-price {
     width: 75%;
     background-color: white;
     /* margin: 0 20px 0 20px; */
     text-align: center;
     padding: 15px 5px;
     border-radius: 15px;
     border-style: outset;
     border-color: darkgrey;
     border-width: 1px;
 }

 .inner-price img {
    width: 90%;   
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 25px;
 }

 .inner-price h3 {
     font-size: 1.5rem;
     padding: 10px 0 20px 0;
 }

 .inner-price ul {
     line-height: 1.5rem;
    
     margin-bottom: 25px;
 }

 .inner-price li {
     list-style-position: inside;
     text-align: left;
     margin-left: 15px;
 }

 .inner-price .monthly-price {
     font-size: 2rem;
     /* padding: 50px 0; */
 }

 

 .signup-button {
     width: 85%;
     background-color: #000;
     color: white;
     font-size: 1.5rem;
     text-align: center;
     
     vertical-align: text-bottom;
     border-radius: 10px;
     border: 2px outset #444;
     height: 45px;
     padding: 5px;
 }

 .signup-button:hover {
     background-color: #333;
     border: 4px outset #666;

 }

 /* Call to action Section */

 #footer-download .google-button {
     color: #000;
     border: 1px outset #333;
 }

 #footer-download h2 {
     padding-top: 25px;
     margin-bottom: 50px;
     font-size: 3rem;
 }

 #footer-download button {
     margin-bottom: 50px;
 }

 /* Footer section */

 footer {
     background-color: #ff4c68;
     color: #fff;
     
     }

 footer > p {
     padding-top: 20px;
     font-size: 16px;
 }    

.bolshiepig-link {
    font-size: 16px;
}

.bolshiepig-link:hover {
    color: #fff;
    font-size: 1.2rem;
}

.social-networks li {
    display: inline-block;
    text-align: center;
    padding: 15px 10px;

}

.social-media-link:hover {
color: #fff;
font-size: 2.2rem;
}

/* gallery*/

#gallery-heading {
    font-size: 3rem;
    margin: 20px 0 20px;
}

#figures {
    clear: both;
    column-count: 4;
    column-gap: 0;
}



.testimonial {
    background-color: #ff4c68;
}

figure {
    border: 3px #ff4c68 double;
    border-radius: 10px;
   margin: 5px;
   display: inline-block;
    
}



figcaption {
    color: #fff;
    font-size: 1.5rem;    
    padding: 3px;
    text-align: center;
    border-radius: 5px;
}

.testimonial span {
   font-style: italic;
   font-size: 1.2rem;
    
}


.portrait {
   
    width: 340px;
    

}

.portrait figcaption {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.landscape {
    width: 400px;
    /* height: 410px; */
    
}

.landscape figcaption {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

/*  Sign Up page*/

#form-page-title {
    font-size: 3rem;
    padding: 20px 0 20px;
}

#form-container {
    position: relative;
    height: 825px;
}

#sign-up {
    
    width: 40%;
    height: 650px;
    float: left;
    background-color:#ef8172;
    border: 3px #ff4c68 double;
    border-radius: 25px;
    margin-left: 5%;
    padding-top: 20px;
        
}

#sign-up-text {
    text-align: center;
    

}

#register {
    width: 45%;
    float: left;
    color:#fff;
    font-size: 3rem;
    margin: 15px;
    line-height: 4rem;
}

#form-image {
    height: 600px;
    width: 45%;
    float: right;
    margin-right: 10px;
       
    
}

#sign-up-form {
    float: right;
    width: 40%;
    height: 625px;
    border: 3px #ff4c68 double;
    border-radius: 25px;
    margin-right: 5%;
    padding: 20px 10px;
    
    
}

input {
    font-size: 120%;
    color: #222;
    background-color: #f9f9f9;
    border: 1px solid #444;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

form > div > input {
    width: 60%;   
}

form > div {
    width: 90%;
    text-align: left;
    

}

 form > div > label {
     float: left;
     width: 200px;
     text-align: right;
     margin-right: 20px;
 }

 fieldset {
     border: 1px solid #ff4c68;
     text-align: left;
     width: 75%;
     margin: 25px auto;
     border-radius: 20px;

 }

 fieldset > label {
     float: left;
     width: 200px;
     text-align: right;
     margin-right: 20px;

 }

 legend {
     margin-left: 10%;
 }

 #sign-up-button {
     color: #fff;
     font-size: 1.6rem;
     background-color: #ff4c68;
     border-radius: 10px;
     padding: 8px;
     margin-top: 20px;
     border: 2px outset #ef8172;
 }

 #sign-up-button:hover {
     background-color:#ef8172;
     border: 4px outset #666;
     
 }

 @media screen and (max-width: 1200px) {

    #center-heading h1 {
        font-size: 36px;
    }

    .inner-feature p {
        font-size: 1.2rem;
    }

    .inner-price {
        height: 655px;
    }

    .price-plan-name {
        height: 90px;
    }

     
 }


 