@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    text-align: center
}

/* logo and navigation*/

header {
    background-color: #ff4c68;
    height: 75px;
}

#logo {
    color: #fff;
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    float: left;
    margin-left: 30px;  
       
}

#nav-menu {
    right: 10px;
    text-align: right;
}

#logo, #nav-menu {
    line-height: 75px;
}

a {
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
}

#nav-menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
}

#nav-menu a {
    font-size: 120%;
    float: right;
}

/* Banner heading */

#heading-banner {
    background-color: #ff4c68;
    height: 300px;
    position: relative;
    padding: 15px 0 0 0;
}

#left-image {
    height: 300px;
    width: 25%;
    float: left;
    display: inline-block;   
}

#center-heading {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    height: 300px;
    width: 50%;
    display: inline-block;
    letter-spacing: 3px;
}

#center-heading span {
    font-family: Ubuntu, sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    letter-spacing: 4px;
}

#center-heading h1 {
    border: 5px solid #fff;
    padding: 20px;
    border-radius: 10px;
}

#right-image {
    height: 300px;
    width: 25%;
    float: right;
    display: inline-block;
}

img {
    height: 250px;
}

/* Download section */

#download {
    height: 75px;
    background-color: #ff4c68;
    text-align: center;    
}

.download-button {
    height: 40px;
    width: 150px;
    margin: 0px 10px 30px;
    border-radius: 5px;
    font-family: Ubuntu, sans-serif;    
}

.download-button i {
    margin-right: 5px;
}

.google-button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px outset white;
    color: white;
    font-size: 1.2rem;
}

.apple-button {
    background-color: #000;
    border: 1px outset #666;
    color: #fff;
    font-size: 1.2rem;
}

/* Feature section*/

.feature-section {
    /* position: relative; */
    display: block;
    height: 450px;
}

.feature {
    width: 33%;
    height: 450px;
    padding-bottom: 10px;
}

#easy {
    
    float: left;
    display: inline-block;
}

#elite {
    
    display: inline-block;
    width: 34%;
}

#money-back {
    
    float:right;
    display: inline-block;
}

.inner-feature {
    width: 50%;
    height: 275px;
    margin: 5% auto 30px auto;
    border: 5px #ef8172 double;
    border-radius: 10px;
    font-family: Montserrat, sans-serif;
    text-align: center;
    padding: 5%;
}

.inner-feature i {
    font-size: 4rem;
    color: #ef8172;
    margin-top: 15px;
}

.inner-feature h3 {
    font-weight: 900;
    font-size: 1.5rem;
    margin: 30px 0;
   
}

.inner-feature p {
    font-size: 1.5rem;
}